{% extends 'base.html' %}

{% block content %}
    <h3> Projet : {{ projet.designation }} </h3>
    <p> Mandant: {{ projet.mandant }}</p>

    <h3> Regroupement par systèmes</h3>
    <table>
        <tr>
            <th>Système</th>
            <th>Abréviation</th>
            <th>Bâtiment</th>
            <th>Local</th>
            <th>Montant</th>
            <th>Actions</th>
        </tr>

        {% for s in projet.systemes.all %}
            <tr>
                <td>{{ s.nom }}</td>
                <td>{{ s.abreviation }}</td>
                <td>{{ s.local.etage.batiment }}</td>
                <td>{{ s.local }}</td>
                <td>{{ s.montant_total_articles | floatformat:2 }}</td>
                <td><a href="{% url 'systeme_show' s.pk %}">Show</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Aucun système trouvé</td>
            </tr>
        {% endfor %}

    <!-- ✅ Ligne total -->
        <tr>
            <td></td><td></td><td></td>
            <td><strong>Total</strong></td>
            <td><strong>{{ projet.montant_total|floatformat:2 }} CHF</strong></td>
        </tr>
    </table>

   <h3> Regroupement par articles</h3>
<table>
    <tr>
        <th>Article</th>
        <th>Quantité</th>
        <th>Montant</th>
    </tr>

    {% for a in articles_groupes %}
        <tr>
            <td>{{ a.nom }}</td>
            <td>{{ a.total_qte }}</td>
            <td>{{ a.total_montant|floatformat:2 }} CHF</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="3">Aucun article</td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}