{% extends 'base.html' %}

{% block sidebar %}
    <h3>Menu Projet</h3>
    <p><a href="{% url 'home' %}">Accueil</a></p>
    <p><a href="{% url 'projet_list' %}">Liste des projets</a></p>
    <p><a href="{% url 'projet_articles_par_systeme' projet.pk %}">Articles par Systeme</a></p>
    <p><a href="{% url 'articles_global' projet.pk %}">Articles cumulés</a></p>
    <p><a href="{% url 'calorifugeage_par_systeme' projet.pk %}">Calorifugeage par systeme</a></p>
    <p><a href="{% url 'calorifugeage_global' projet.pk %}">Calorifugeage cumulés</a></p>
    <p><a href="{% url 'projet_batiments' projet.pk %}">Bâtiments</a></p>
{% endblock sidebar %}



{% block content %}
<h1>Projet: {{ projet.description }}</h1>
<h3>Mandataire: {{ projet.mandant }}</h3>

{% endblock %}