{# article/templates/article/list.html #}

{% extends 'base.html' %}

{% block sidebar %}
    <h3>Menu Article</h3>
    <ul>
        <li><a href="{% url 'home' %}">Accueil</a></li>
    </ul>

{% endblock sidebar %}

{% block content  %}
    <h1>Articles :</h1>

    <p> Ces articles sont modifiables via les systèmes qui leur correspondent.</p>
        <table>
            <tr>
                <th>Systeme associé</th>
                <th>Nom</th>
                <th>Groupe</th>
                <th>Sous-groupe</th>
                <th>Prix</th>
                <th>Unité</th>
                <th>Quantité</th>
               {# <th>Actions</th>  #}
            </tr>
            {% for a in articles %}
            <tr>
                <td>{{ a.systeme.nom}} du projet {{a.systeme.projet }}/td>
                <td>{{ a.equipement.nom }}</td>
                <td>{{ a.equipement.groupe }}</td>
                <td>{{ a.equipement.sous_groupe }}</td>
                <td>{{ a.equipement.prix }}</td>
                <td>{{ a.equipement.unite }}</td>
                <td>{{ a.qte }}</td>
               {#  <td> #}
                     {# <a href="{% url 'article_show' a.pk %}">Show</a> | #}
                   {#  <a href="{% url 'article_edit' a.pk %}">Edit</a> #}
                   {# <a href="{% url 'article_delete' a.pk %}">Delete</a> #}
                {#  </td> #}
            </tr>
            {% endfor %}
        </table>
{% endblock content %}