{{% extends 'base.html' %}

{% block content %}

<h2>Détail du système</h2>

<div class="card mb-3">
    <div class="card-body">
        <p><strong>Nom :</strong> {{ systeme.nom }}</p>
        <p><strong>Abréviation :</strong> {{ systeme.abreviation }}</p>
        <p><strong>Type :</strong> {{ systeme.type }}</p>
        <p><strong>Projet :</strong> {{ systeme.projet }}</p>
        <p><strong>Local :</strong> {{ systeme.local }}</p>
    </div>
</div>

 <!-- Articles existants -->
    <h3>Articles existants</h3>
    <table class="table table-bordered" >
        <thead>
            <tr>
                <th>Nom</th>
                <th>Groupe</th>
                <th>Sous-groupe</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Unité</th>
            </tr>
        </thead>
        <tbody>
            {% for f in articles_existants_forms %}
            <tr>
                <td style="color: darkblue;">{{ f.nom.value }}</td>
                <td style="color: darkblue;">{{ f.groupe.value }}</td>
                <td style="color: darkblue;">{{ f.sous_groupe.value }}</td>
                <td style="color: darkblue;">{{ f.qte.value }}</td>
                <td style="color: darkblue;">{{ f.prix.value }}</td>
                <td style="color: darkblue;">{{ f.unite.value }}</td>
                {{ f.equipement_id }}
            </tr>
            {% endfor %}
        </tbody>
    </table>

<h4>Total : {{ total }}</h4>

<a href="{% url 'systeme_list' %}" class="btn btn-secondary">Retour</a>
<a href="{% url 'systeme_edit' systeme.pk %}" class="btn btn-primary">Modifier</a>

{% endblock %}
