{% extends 'base.html' %}

{% block sidebar %}
    <h3>Menu Calorifu</h3>
    <p><a href="{% url 'home' %}">Accueil</a></p>
    <p><a href="{% url 'calorifu_list' %}">Liste des calorifugeages</a></p>
{% endblock sidebar %}

{% block content %}
    <h1>Calorifugeage de {{ calorifu.article.nom }}</h1>

    <h3> Article : {{ calorifu.nom }}</h3>
    <p>Longueur : {{ calorifu.tuy }} m</p>
    <p>Coudes: {{ calorifu.tuy_cds }} </p>
    <p>Embouts: {{ calorifu.tuy_emb }} </p>
    <p>Robinets : {{ calorifu.tuy_rob }} </p>
    <h3>Isolation</h3>
    <p>Coudes: {{ calorifu.isol_cds }} </p>
    <p>Embouts: {{ calorifu.isol_emb }} </p>
    <p>Robinets : {{ calorifu.isol_rob }} </p>
    <h3>Antifeu</h3>
    <p>Coudes: {{ calorifu.antifeu_cds }} </p>
    <p>Embouts: {{ calorifu.antifeu_emb }} </p>
    <p>Robinets : {{ calorifu.antifeu_rob }} </p>

    <div>
        <a href="{% url 'calorifu_edit' calorifu.pk %}" class="button">Modifier</a>
        <a href="{% url 'calorifu_list' %}" class="button">Annuler</a>
    </div>
{% endblock content %}